body{
  background-color: black;
}

.myname {
  height: 100vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing{
  width: 20ch;
  animation: typing 1.5s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1.75em;
  color: white;
  position:absolute;
  top: 100%;
}

.card{
  position: absolute;
  top: 30%;
  left: 50%;
  height: 350px;
  width: 275px;
  transform: translate(-50%,-50%);
  transform-style: preserve-3d;
  perspective: 600px;
  transition: .6s;
}


.card:hover .card-front{
  transform: rotateX(-180deg);
}

.card:hover .card-back{
  transform: rotateX(0deg);
}

.card-back h2{
  margin: 60% auto 35% auto;
  font-size: 25px;
  color: rgba(20, 20, 17, 0.767);
}

.card-back{
  font-size: 22px;
}

.card-front{
  border-radius: 5px;
  width: 100%; height: 100%;
  background-image: url(images/profile.jpeg);
  background-size: cover;
  top: 0; left: 0;
  position: absolute;
  background-color: cornflowerblue;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: .6s;
}

.card-back{
  border-radius: 5px;
  width: 100%; height: 100%;
  position: absolute;
  top: 0; left: 0;
  background-color:#14356f;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: .6s; color:#0d1523;
  text-align: center;
}

.card-back span{
  color: white;
}

.card-back a{
  width: 25px; height: 25px;
  padding: 3px 3px;
  border-radius: 4px;
  line-height: 20px;
  color: #e0e4eb;
  transition: ease-in-out 0.1s;
}

.card-back a:hover{
  color: rgb(206, 208, 211);
  background-color: rgba(26, 128, 223, 0.733);
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}