 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am an iOS developer with solid skills in app development for the Apple ecosystem, with proven experience creating and publishing apps on the AppStore. </p>
                </div>
                <div class="col-lg-4">
                    <p>In my spare time I like to experiment with new technologies and create new things. You can follow my posts on LinkedIn by clicking the button below.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.linkedin.com/in/igorsilvadev/" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn
                    </a>
                </div>
            </div>
        </div>
    </section>
