 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> I'm a Computer Science student at Catholic University of Brasilia, and iOS developer at Checklist Fácil by Softplan. 
                        I work with the UIKit, SwiftUI, SpriteKit, CoreData, Combine, Realm and RxSwift frameworks. I often use SnapKit and Alamofire for most of my projects. 
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>I build screens using view code and am a fan of protocol oriented programming. 
                       Currently I am dedicated to studying XCTest and Continuous Integration, Continuous Delivery and Continuous Deployment.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.linkedin.com/in/igorsilvadev/" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn
                    </a>
                </div>
            </div>
        </div>
    </section>
